doctype html
html
	head
		title signin
		meta(charset="utf-8")
		link(href="css/signin.css")
	body
		#signinForm
			h2 后台管理系统
			label.name
				span.icon-user
				input(type="text")
			label.password
				span.icon-key
				input(type="password")
			span
				input(type="button" value="登录")