-var active = 0
-var nav = [{id : 0,title : "文章",href : "articleList.html"},{id : 1,title : "相册",href : "galleryList.html"}]
// 侧边导航开始
nav#asideNav
	ul
		-for (var i = 0; i < nav.length; i++) 
			if nav[i].id === active
				li.active
					a(href=nav[i].href)= nav[i].title
			else
				li
					a(href=nav[i].href)= nav[i].title
// 侧边导航结束