extends ./layout

block content
	// 主体内容开始
	#mainContent
		// 顶部导航开始
		.topNav
			span 相册列表
		// 顶部导航结束
		.content
			.create
				h3 创建相册
				div
					label
						span 相册名称
						input(type="text")#createInput
					input(type="button", value="创建")#createBtn
			.galleryList
				if (galleryList.length === 0)
					p 您还没有创建任何相册
				else
					ul
						each item,i in galleryList
							li(id= "gallery_" + item.galleryId)
								.imgBox
									img(src= item.cover ? item.galleryPath + item.cover : "/gallery/cover/default.png")
								.title= item.galleryName
								.btnBox
									a(href="#", title="修改该相册")#updateBtn 修改
									a(href= "gallery.html?id=" + item.galleryId, title="进入该相册") 进入
									a(href="#", title="删除该相册")#deleteBtn 删除

block script
	script(src="js/galleryList.js")