extends ./layout
block content
	// 主体内容开始
	#mainContent
		// 顶部导航开始
		.topNav
			a(href= "galleryList.html")	相册列表
			span 》
			span 相册
		// 顶部导航结束
		.content
			.title
				h3 相册：
					span= gallery.galleryName
				a(href= "galleryList.html") 返回相册列表
			.add
				h3 添加图片：
				label
					span 选择图片：
					input(type="file")
				input(type="button", value="上传")
			.imgList
				if (images.length === 0)
					p 该相册还没有添加任何图片。
				else
					ul
						each item, i in images
							li(id= item.id)
								.imgBox
									img(src= gallery.galleryPath + item.filePath)
								.btnBox
									a.delete(href="#", title="删除该图片") 删除
									a.setCover(href="#", title="设为封面") 封面