-var path = "admin/"
doctype html
html
	head
		title= title
		meta(charset="utf-8")
		link(href= path+"css/public.css")
		link(href= path+"css/pages.css")
	body
		include ./header
		main#main
			include ./asideNav
			block content
		
		script(src="js/jquery-2.2.3.min.js")
		script(src="js/jquery-confirm.js")
		script(src="js/public.js")
		block script
