doctype html
html
	head
		title signin
		meta(charset="utf-8")
		link(href="css/signin.css")
	body
		#signinForm
			h2 登录后台管理系统
			p
				label.name
					span.icon-user
					input(type="text")
			p
				label.password
					span.icon-key
					input(type="password")
			p
				input(type="button" value="登录")#submit
		script(src="js/jquery-2.2.3.min.js")
		script(src="js/jquery-confirm.js")
		script(scr="js/public.js")
		script(src="js/signin.js")