<!DOCTYPE html>
<html>
  <head>
    <title>signin</title>
    <meta charset="utf-8">
    <link href="css/signin.css">
  </head>
  <body>
    <div id="signinForm">
      <h2>登录后台管理系统</h2>
      <p>
        <label class="name"><span class="icon-user"></span>
          <input type="text">
        </label>
      </p>
      <p>
        <label class="password"><span class="icon-key"></span>
          <input type="password">
        </label>
      </p>
      <p>
        <input type="button" value="登录" id="submit">
      </p>
    </div>
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/jquery-confirm.js"></script>
    <script src="js/public.js"></script>
    <script src="js/signin.js"></script>
  </body>
</html>